.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    display: flex;
    height: 550px;
    width: 450px;
    background-color: rgb(195, 194, 194);
    border-radius: 10px;
    margin-top: 80px;
}

#screen{
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    height: 110px;
    width: 430px;
    display: flex;
    flex-direction: column;
}
